<script type="text/javascript" src="/todo/events/controllers/main.js"></script>
<script type="text/javascript" src="/todo/shared/services/eventService.js"></script>

<script type="text/ng-template" id="main-panel">
  <div class="wrap-body">
    <ul ng-repeat="event in records.events">
      <li>{{event.name}}</li>
    </ul>
  </div>
</script>
